<h2>Скільки товарів ви хочете замовити?</h2>

<form method="post">
    <div>
        <label>Кількість товарів:</label>
        <input type="number" name="numberOfProducts" min="1" />
    </div>
    <button type="submit">Підтвердити</button>
</form>
