<!DOCTYPE html>
<html>
<head>
    <title>Демонстрація фільтрів</title>
</head>
<body>
    <h1>Демонстрація роботи фільтрів</h1>
    <h2>Логи дій:</h2>
    <pre>@ViewBag.ActionLog</pre>
    <h2>Кількість унікальних користувачів:</h2>
    <pre>@ViewBag.UniqueUserLog</pre>
    <ul>
        <li><a href="/Home/About">Сторінка "Про нас"</a></li>
        <li><a href="/Home/Contact">Сторінка "Контакти"</a></li>
    </ul>
</body>
</html>
